        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
        }
        .logo{
            font-size: 28px;
            font-weight: bold;
            color: rgb(254, 254, 254);
        }
        nav a{
            color: rgb(245, 248, 248);
            text-decoration: none;
            padding: 25px;
            font-size: 16px;
        }
        .button{
            background-color: chocolate;
            padding: 12px 22px;
            color: #fff;
            border-radius: 6px;
            text-decoration: none;
            font-weight: bold;
        }
        .hero{
          height: 122vh;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          padding: 80px;
          color: #fff;
        }
        .hero::before{
          position: absolute;
          content: "";
          inset:0;
          background-size: cover;
          background-position: center;
          animation: zoombg 10s ease-in-out infinite;
          z-index: -1;
        }
        @keyframes zoombg {
          0%{
            background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg");
            transform: scale(1);
          }
          50%{
             background-image:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url("https://images.pexels.com/photos/164936/pexels-photo-164936.jpeg");
             transform: scale(1.15);
          }
          100%{
            background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg");
            transform: scale(1);
          }
          
        }


        .hero-content{
            max-width: 600px;
      color: #fff;
        }
        .hero-content h1{
            font-size: 48px;
            line-height: 1.3;
            color: #fff;
            margin-bottom: 20px;
        }
        .hero-content p{
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 30px;
      color: #ddd;
    }
    .hero-content h1 span{
        color: #ff7a00;
        font-style: italic;
    }
    .hero-buttons{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .learn-btn{
        background-color: #ff7a00;
        padding: 14px 26px;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
    }
    .watch-btn{
        display: flex;
        align-items: center;
        gap: 12px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
    .play-circle{
           width: 50px;
           height: 50px;
        border-radius: 50%;
      background-color: #fff;
      color: #ff7a00;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
    }
    .year-box{
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 10px;
        padding: 0px 50px;
    }
    .year-box h1{
        color: #ff7a00;
        font-size: 45px;
        
    }
    .year-box p{
        font-size: 16px;
        color: #555;
    }
    .year-box span{
        font-size: 22px;
  font-weight: bold;
  color: #000;
  display: flex;

    }
    .stats-wrapper{
       display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background-color: #ffffff;  
  position: relative;         
  margin-top: -80px;         
  z-index: 1; 
    }
    .stats-box{
      background-color: #ff7a00;
      color: #fff;
      padding: 30px 50px;
      display: flex;
      border-radius: 10px;
      gap: 50px;
       position: absolute;        
      right: 80px;               
      top: -60px; 
    }
    .stats h2{
      color: #000;
      font-size: 32px;
    }
    .stats p{
      font-size: 14px;
      margin-top: 5px;
    }
    .about{
      display: flex;
      gap: 60px;
      padding: 80px;
      align-items: center;
    }
    .about img{
      width: 45%;
    }
   .about-content h5{
    font-size: 20px;
  color: #ff7a00;
  font-style: italic;
  margin-bottom: 10px;
}

.about-content h1{
  font-size: 40px;
  margin-bottom: 20px;
}

.about-content p{
  line-height: 1.7;
  margin-bottom: 25px;
}
.features{ display: grid; 
  grid-template-columns: repeat(2,1fr); 
  gap: 15px; 
  margin-bottom: 30px; } 

.features span{ 
  color: #ff7a00; 
  padding: 5px; 
}

.about-btn{
  background-color: #ff7a00;
  color: #fff;
  padding: 14px 26px;
  border-radius: 6px;
  font-weight: bold;
}
.programs{
  text-align: center;
 margin-bottom: 50px;
}
.programs h5{
  color: #ff7a00;
  font-style: italic;
  font-size: 20px;
}
.programs h1{
  font-size: 40px;
  margin-bottom: 10px;
}
.programs p{
  max-width: 600px;
  margin: 0 auto 20px;
}
.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card{
  width: 30%;
   height: 420px;
  border-radius: 15px;
 overflow: hidden;
  position: relative;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card::after{
   content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,rgba(0,0,0,7),transparent);
}

.card-content{
  position: absolute;
  bottom: 0;
  padding: 25px;
  color: #fff;
  z-index: 1;
  text-align: center;
}
.card-content h3{
  margin-bottom: 10px;
}
.card-content p{
  font-size: 19px;
  line-height: 1.6;
  padding: 0px 70px;
  margin-bottom: 15px;
}
.card-content a{
  color: #ff7a00;
    font-size: 14px;
  font-weight: bold;
}
.why-choose{
  
   background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://storage.googleapis.com/stateless-blog-g4m-co-uk/2023/04/A-male-violinist-playing-the-violin.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 80px 160px;
  color: #fff;
  position: relative;
  margin-bottom: 50px;
}

.why-content{
  max-width: 700px;
}

.why-content h5{
  color: #ff7a00;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
}
.why-content h1{
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.why-buttons{
  display: flex;
  align-items: center;
  gap: 25px;
  position: absolute;
  right: 80px;
  top: 200px;
}
.primary-btn{
  background: #ff7a00;
  color: #fff;
  padding: 14px 30px;
  border-radius: 6px;
  font-weight: bold;
}

.secondary-btn{
  color: #fff;
  font-weight: bold;
}
.features-choose{
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 60px;
}

.feature-card{
  background: #fff;
  width: 23%;
  padding: 35px 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.feature-card img{
  width: 40px;
  margin-bottom: 15px;
}

.feature-card h3{
  margin-bottom: 10px;
  color: #000;
}

.feature-card p{
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}
.newsletter{
   margin-top: 200px;
  
}
.newsletter-container{
  background-color: #ff7a00;
  width: 80%;
  padding: 40px 60px;
  margin:0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  transform: translateY(70px);
}
.newsletter-text{
    width:50%;
    color:#000;
}

.newsletter-text h2{
    font-size:32px;
    margin-bottom:10px;
}

.newsletter-text p{
    font-size:14px;
    color: #fff;
}
.newsletter-form{
  width: 45%;
  display: flex;
  gap: 15px;
}
.newsletter-form input{
   flex:1;
    padding:12px;
    border: none;
    border-bottom:2px solid #000000;
    background:transparent;
    color:#fff;
}
.newsletter-form input::placeholder{
    color:#fff;
}
.newsletter-form button{
    padding:12px 25px;
    background:#000;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
}
.footer{
  background: #000;
  color: #fff;
  padding:200px 170px 40px;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:40px;
}
.footer col{
  width: 23%;
}
.footer-col h3{
    margin-bottom:20px;
    position:relative;
}
.footer-col ul{
    list-style:none;
}
.logo{
    color:#fff;
    margin-bottom:15px;
    font-weight: 20px;
}

.footer-col p{
    margin-bottom:10px;
    color:#ccc;
    font-size:14px;
}

.footer-btn{
    margin-top:15px;
    padding:12px 25px;
    background:#ff7a00;
    border:none;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
}

.footer-bottom{
    border-top:1px solid #333;
    padding-top:20px;
    display:flex;
    justify-content:space-between;
    font-size:14px;
    color:#aaa;
}


   @media (max-width: 768px){

  .hero{
    height: auto;
    min-height: 100vh;
  }
  .stats-wrapper{
    margin-top: 0;
    padding: 40px 20px;
  }

  .stats-box{
    position: static;
    width: 100%;
    margin-top: 20px;
  }

  .year-box{
    position: static;
    padding: 0;
    margin-bottom: 20px;
  }

  .features-choose{
    position: static;
    transform: none;
    bottom: auto;
    margin-top: 40px;
  }


  .newsletter{
    margin-top: 80px;
  }

  .newsletter-container{
    transform: none;
    flex-direction: column;
    width: 90%;
    padding: 30px;
  }

  .newsletter-text,
  .newsletter-form{
    width: 100%;
  }

  .newsletter-form{
    flex-direction: column;
  }


  .footer{
    padding: 80px 20px 40px;
  }

  .footer-container{
    flex-direction: column;
    gap: 30px;
  }

  .footer-col{
    width: 100%;
  }

}@media (max-width: 992px){

  /* Header & Hero*/
  header{
    padding: 20px 40px;
  }

  .hero{
    padding: 40px;
  }

  .hero-content h1{
    font-size: 40px;
  }

  /* Stats section */
  .stats-wrapper{
    flex-direction: column;
    gap: 30px;
    margin-top: -40px;
  }

  .stats-box{
    position: static;
  }

  .year-box{
    position: static;
    padding: 0;
  }

  /* About section */
  .about{
    flex-direction: column;
    padding: 60px 40px;
  }

  .about img{
    width: 100%;
  }

  /* Programs */
  .cards{
    flex-wrap: wrap;
  }

  .card{
    width: 45%;
  }

  /* Why choose */
  .why-buttons{
    position: static;
    margin-top: 20px;
  }

  .features-choose{
    position: static;
    transform: none;
    margin-top: 40px;
    flex-wrap: wrap;
  }

  .feature-card{
    width: 45%;
  }
}

@media (max-width: 768px){

  header{
    flex-direction: column;
    gap: 15px;
  }

  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero{
    padding: 40px 20px;
    text-align: center;
  }

  .hero-buttons{
    flex-direction: column;
    align-items: center;
  }

  .hero-content h1{
    font-size: 32px;
  }

  /* Stats */
  .stats-box{
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  /* About features */
  .features{
    grid-template-columns: 1fr;
  }

  /* Programs */
  .card{
    width: 100%;
  }

  .card-content p{
    padding: 0 20px;
  }

  /* Why choose */
  .why-content h1{
    font-size: 36px;
  }

  .features-choose{
    padding: 0 20px;
  }

  .feature-card{
    width: 100%;
  }
}
